root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[{*.yml, *.yaml, *.json}]
indent_size = 2
tab_width = 2

[*.java]
ij_java_block_brace_style = end_of_line
ij_java_class_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_lambda_brace_style = end_of_line

ij_java_spaces_around_assignment_operators = true
ij_java_spaces_around_additive_operators = false
ij_java_spaces_around_multiplicative_operators = false
ij_java_spaces_around_bitwise_operators = false
ij_java_spaces_around_shift_operators = false
ij_java_spaces_around_equality_operators = false
ij_java_spaces_around_relational_operators = false
ij_java_spaces_around_logical_operators = true

ij_java_spaces_within_if_parentheses = true
ij_java_spaces_within_while_parentheses = true
ij_java_spaces_within_switch_parentheses = true

ij_java_space_after_type_cast = false

ij_java_indent_case_from_switch = true
