# Maven build folders
/target/

# Ant build folders
/build/
/dist/
/lib/
user.build.properties

# NetBeans user configuration
nbactions*.xml

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.project
.classpath
.settings/
